{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="innerclap"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="logo-font mb-4">My Shoe Account</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <p class="text-muted">Customer purchase information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-dark rounded-0 float-right">Upgrade</button>
                </form>
            </div>
            <div class="col-12 col-lg-7">
                <p class="text-muted">Customer purchase history</p>
                <div class="product-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thread>
                            <tr>
                                <th>Product Number</th>
                                <th>Purchase Date</th>
                                <th>Shoe Items</th>
                                <th>Purchase Totals</th>
                            </tr>
                        </thread>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'product_history' order.product_number %}" 
                                        title="{{ order.product_number }}">
                                            {{ order.product_number|truncatechars:7 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.Lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.shoe_sizes %}
                                                        Shoe size {{ item.product_size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_cost }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<div class="container-flex footer-container mt-5">
        <div class="row">
            <div class="col-12 col-md-12">
                {% include 'footer/footer.html' %}
            </div>
        </div>
</div>
{% endblock %}

