html{
    height: 100%;
}

body{
    background: url('/media/shoes_varities.jpg') no-repeat center center fixed;
    background-size: cover;
    color: wheat;
    height: calc(90vh - 155px);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link{
    width: fit-content;
}

.shop-now-button {
    background: crimson;
    color: wheat;
    min-width: 260px;
}

.btn-black {
    background: brown;
    color: cornsilk;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus{
    background: darkblue;
    color: darkorange;
}

.text-black{
    color: black;
}

@media (min-width: 992px){
    .fixed-top-desktop-only {
        position: fixed;
        z-index: 1030;
    }

    .header-container{
        padding-top: 160px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 80%;
    }
}

.border-black{
    border: 1px solid black !important;
}