html {
    height: 100%;
}

body {
    background: url('/media/silver_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: darkgreen;
    height: calc(100vh - 164px);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: crimson;
    color: wheat;
    min-width: 260px;
}

.btn-black {
    background: brown;
    color: cornsilk;
}

.btn-outline-black {
    background: azure;
    color: darkslategray !important;
    border: 1px solid darkslategrey;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: dimgray;
    color: beige !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: darkblue;
    color: darkorange;
}

.text-black {
    color: black;
}

/*This is for allauth design*/

.allauth-form-inner-content p {
    margin-top: 1.4rem;
    color: #b86bae;
}

.allauth-form-inner-content input {
    border-color: rgba(26, 2, 2, 0.897);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aac4bb;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 350;
    color: rgb(235, 221, 221);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.938);
    border: 1px solid rgb(29, 3, 3);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: rgba(255, 255, 255, 0.89);
    background-color: #222;
    border-color: rgb(61, 5, 5);
}

.allauth-form-inner-content a {
	color: #427699; /* text-info */
}


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        z-index: 1030;
    }

    .header-container {
        padding-top: 90px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 93px;
    }

    body {
        height: calc(100vh - 116px)
    }
    
    .display-4 logo-font text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: 0.6rem .06rem;
        font-size: 1rem;
    }

    #delivery-banner h5 {
        font-size: 0.9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: 0.379rem 0.379rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: 0.379rem 0.379rem;
        font-size: 0.75rem;
    }

    .increase-qt, decrease-qt {
        padding: 0.25rem 0.5rem !important;
    }

}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.edit-link,
.delete-item {
    cursor: pointer;
}

/*.............................. toasts basede on bootstrap */

input[name='que']::placeholder {
    color: #2c70b4;
}

.message-container {
    position: fixed;
    top: 73px;
    right: 16px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/*..............................Queries*/

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}


.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: darkblue !important;
}

.innerclap {
    height: 100%;
    width: 100%;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}

.outerclap {
    height: 100%;
    width: 100%;
    position: fixed;
    background: whitesmoke;
    z-index: 1;
}

a.cat-badge > span.badge:hover {
    background: darkslategray !important;
    color: cornsilk !important;
}

.mt-2, .my-2 {
    margin-top: 5rem!important;
}

/*footer*/

footer-container {
    background: white !important;
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
}

#mailto {
    color: #000;
}

#mailto:hover {
    text-decoration: underline;
}

.social-links {
    font-size: 2rem;
}
.contact-details i {
    color: #000;
    font-size: 2rem;
    margin: 0 0.5rem;
}

.contact-details i:hover {
    font-weight: 900; 
}

.footer-paragraph {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.footer-paragraph p {
    margin: 0;
} 
.carousel-item {
    height: 480px;
}