<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-S" href="#" id="all=products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoe Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all=products-link">
                <a href="{% url 'frontpage' %}" class="dropdown-item">Home page</a>
                <a href="{% url 'products' %}" class="dropdown-item">Buy Now</a>
                <a href="" class="dropdown-item">Trainers</a>
                <a href="" class="dropdown-item">Boots</a>
            </div>
        </li>
    </ul>

</div>