<footer>
    <div class="container-flex footer-container mt-5">
        <div class="row">
            <div class="col-12 col-md-4 footer-paragraph">
                <p>
                    <span class="d-block" >12 London Road, London</span>
                    <span class="d-block">United Kingdom</span>
                    <span class="d-block">N9</span>
                </p>
            </div>
            
            <div class="col-12 col-md-4 footer-paragraph">
                <p class="contact-details">
                    <a href="mailto:ecommerceshoes@example.com" id="mailto" aria-label="Email us">
                        <span class="d-block">ecommerceshoes@example.com</span>
                        <i class="far fa-envelope" aria-hidden="true"></i> 
                    </a>
                    <a href="https://wa.me/+447537177369" target="_blank" rel="noopener">
                        <span class="d-block">+44 7537177369</span>
                        <span class="d-block">+44 2087599036</span>
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </p>
            </div>

            <div class="col-12 col-md-4 footer-paragraph">
                <strong>Check us on our available <br>social media platforms below!</strong>
                <p class="social-links">
                    <a href="https://www.facebook.com/Ecommerce-Shoes-105757571690033" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/ShoesEcommerce" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/ecommerceshoes67/" target="_blank" rel="noopener"><i class="fab fa-instagram-square"></i></a>
                    <a href="https://web.telegram.org/#/im" target="_blank" rel="noopener"><i class="fab fa-telegram"></i></i></a>

                </p>
            </div>
        </div>
    </div>
</footer>