<script type="text/javascript">

    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 99;
        $(`#decrease-qt_${itemId}`).prop('disabled', minusDisabled);
        $(`#decrease-qt_${itemId}`).prop('disabled', plusDisabled);
    }

    var allQtyInputs = $('.qt_input');
    for(var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    $('.qt_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    })

    $('.increase-qt').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qt_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

        $('.decrease-qt').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qt_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });
</script>