{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="innerclap"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h3 class="logo-font">Footwear</h3>
                {% for cat in present_categories %}
                    <a class="cat-badge text-decoration-none" href="{% url 'products' %}?categories={{ cat.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ cat.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sorting" class="custom-select-sm rounded-0 border border-{% if price_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if price_sorting == 'None_None '%}selected{% endif %}>Choose by</option>
                                <option value="prices_asc" {% if price_sorting == 'prices_asc' %}selected{% endif %}>Price(Ascending)</option>
                                <option value="rating_asc" {% if price_sorting == 'rating_asc' %}selected{% endif %}>Rating(Ascending)</option>
                                <option value="categories_asc" {% if price_sorting == 'categories_asc' %}selected{% endif %}>Category(Ascending</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if seek_term or present_categories or price_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Page</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if seek_term %} found for <strong>"{{ seek_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_description' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_description' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.prices }}</p>
                                            {% if product.categories %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?categories={{ product.categories.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.categories.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating available</small>
                                            {% endif %}
                                            {% if request.user.is_superuser%}
                                                <small class="ml-3">
                                                    <a href="{% url 'update_product' product.id %}">Update</a>
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Remove</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-flex footer-container mt-5">
        <div class="row">
            <div class="col-12 col-md-12">
                {% include 'footer/footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
<script type="text/javascript">
    $('#sorting').change(function(){
        var selector = $(this);
        var current_url = new URL(window.location);

        var selected_val = selector.val();
        if(selected_val != "reset"){
            var sort = selected_val.split("_")[0];
            var direction = selected_val.split("_")[1];

            current_url.searchParams.set("sort", sort);
            current_url.searchParams.set("direction", direction);

            window.location.replace(current_url);
        }else{
            current_url.searchParams.delete("sort");
            current_url.searchParams.delete("direction");

            window.location.replace(current_url);
        }
    })
</script>
{% endblock %}