{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="innerclap"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-5 col-lg-4 offset-lg-2">
                <div class="image-container my-4">
                        {% if products.image %}
                        <a href="{{ products.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ products.image.url}}" alt="{{ products.name }}">
                        </a>
                        {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ products.name }}">
                            </a>
                        {% endif %}
                </div>
            </div>  
        <div class="col-6 col-md-5 col-lg-4 offset-lg-2">
            <div class="product-description-container mb-5 mt-md-5">
                 <p class="mb-0">{{ products.name }}</p>
                 <p class="lead mb-0 text-left font-weight-bold">£{{ products.prices }}</p>
                 {% if product.categories %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?categories={{ product.categories.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.categories.friendly_name }}
                            </a>
                        </p>
                {% endif %}
                {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ products.rating }} / 5</small>
                {% else %}
                    <small class="text-muted">No Rating available</small>
                {% endif %}
                <p class="mt-3">{{ products.descriptions }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}